# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.pytest_cache/
.venv/
venv/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Downloaded models
.models/

# Local tooling
.bin/


# MkDocs build output
site/
